<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
</head>
<body>
<h1>NO SIEMANKO NA MOJEJ STRONIE</h1>

<main id="posts">
    <article th:each="p : ${messageList}">
        <h2 class="title" th:text="${p.title}">Post Title</h2>
        <p class="content" th:utext="${p.content}">Post content</p>
    </article>
</main>

<form method="post" action="/index" th:object="${messageForm}">
    <div class="postContainer">
        <label><b>Title: </b></label>
        <input type="text" th:field="*{title}"/> <br/>
        <label><b>Content: </b></label>
        <textarea th:field="*{content}"></textarea><br/>
        <button type="submit">Submit post</button>
    </div>
</form>
</body>
</html>